* {
    margin: 0;
    padding: 0;

    font-family: Tahoma, Helvetica, serif;
    color: #777;

}

html, body {
    width: 100%;
}

.content-wrap {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

#top-bar {
    position: fixed;
    z-index: 1;
    background-color: #303030;
    width: 100%;
    padding: 6px inherit;
}
#top-bar * {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.95em;
}

#top-bar ul {
    list-style: none;
}

#top-bar li {
    float: left;
    margin-right: 20px;
}

#top-bar .right {
    float: right;
}
#header {
    background-color: #638b3c;
    height: 150px;
    padding-top: 70px;
}
#hero {
    padding: 34px 0;
}
#hero .content-wrap {
    position: relative;
}
#hero #hero-text {
    max-width: 70%;
}
#hero #hero-stamp {
    position: absolute;
    right: 0;
    top: -42px;
}

#screenshot {
    width: 100%;
    display: block;
}

#download-button, #fork-button {
    display: block;
    margin: 45px auto;
}
#documentation-header {
    background-color: #303030;
}

#documentation-title {
    display: block;
    margin: 0 auto;
    padding: 40px 0;
}

#docsiframe {
    width: 99%;
    height: 600px;
}

#top-bar a {
    text-decoration: none;
}